.subheader-inner .phone a {
    text-decoration: none;
    color: #000;
}
.subheader-inner .phone {
    text-transform: uppercase;
    color: #000;
    padding: 8px 26px 7px 20px;
    margin: 6px 0px;
    border-radius: 3px;
    background: #F5EB27;
    color: #000;
}
.phone-icon {
    background-position: -273px -66px!important;
    width: 42px;
    height: 42px;
    float: left;
    margin-right: 17px;
}
.subheader-inner .phone .callme {
    font-size: 10px;
    text-transform: initial;
    margin-left: 8px;
}
.geo-phone a {
    font-size: 22px;
}