@font-face {
	font-family: "AvenirNextCyr";
	src: url("../font/AvenirNextCyr-Regular.eot");
	src: local('☺'),
	url("../font/AvenirNextCyr-Regular.eot?#iefix") format("embedded-opentype"),
	url("../font/AvenirNextCyr-Regular.woff") format("woff"),
	url("../font/AvenirNextCyr-Regular.ttf") format("truetype"),
	url("../font/AvenirNextCyr-Regular.otf"),
	url("../font/AvenirNextCyr-Regular.svg#PT Serif") format("svg");

	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "AvenirNextCyrBold";
	src: url("../font/AvenirNextCyr-Bold.eot");
	src: local('☺'),
	url("../font/AvenirNextCyr-Bold.eot?#iefix") format("embedded-opentype"),
	url("../font/AvenirNextCyr-Bold.woff") format("woff"),
	url("../font/AvenirNextCyr-Bold.ttf") format("truetype"),
	url("../font/AvenirNextCyr-Bold.otf"),
	url("../font/AvenirNextCyr-Bold.svg#PT Serif") format("svg");

	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "AvenirNextCyrDemi";
	src: url("../font/AvenirNextCyr-Demi.eot");
	src: local('☺'),
	url("../font/AvenirNextCyr-Demi.eot?#iefix") format("embedded-opentype"),
	url("../font/AvenirNextCyr-Demi.woff") format("woff"),
	url("../font/AvenirNextCyr-Demi.ttf") format("truetype"),
	url("../font/AvenirNextCyr-Demi.otf"),
	url("../font/AvenirNextCyr-Demi.svg#PT Serif") format("svg");

	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "AvenirNextCyrMedium";
	src: url("../font/AvenirNextCyr-Medium.eot");
	src: local('☺'),
	url("../font/AvenirNextCyr-Medium.eot?#iefix") format("embedded-opentype"),
	url("../font/AvenirNextCyr-Medium.woff") format("woff"),
	url("../font/AvenirNextCyr-Medium.ttf") format("truetype"),
	url("../font/AvenirNextCyr-Medium.otf"),
	url("../font/AvenirNextCyr-Medium.svg#PT Serif") format("svg");

	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: AVENIRNEXTCYR-DEMIITALIC; /* Имя шрифта */
	src: url(AVENIRNEXTCYR-DEMIITALIC.otf); /* Путь к файлу со шрифтом */
}
@font-face {
	font-family: AVENIRNEXTCYR-BOLDITALIC; /* Имя шрифта */
	src: url(AVENIRNEXTCYR-BOLDITALIC.OTF); /* Путь к файлу со шрифтом */
}
@font-face {
	font-family: AVENIRNEXTCYR-HEAVY; /* Имя шрифта */
	src: url(AVENIRNEXTCYR-HEAVY.OTF); /* Путь к файлу со шрифтом */
}
@font-face {
	font-family: AVENIRNEXTCYR-HEAVYITALIC; /* Имя шрифта */
	src: url(AVENIRNEXTCYR-HEAVYITALIC.OTF); /* Путь к файлу со шрифтом */
}
@font-face {
	font-family: AVENIRNEXTCYR-ITALIC; /* Имя шрифта */
	src: url(AVENIRNEXTCYR-ITALIC.OTF); /* Путь к файлу со шрифтом */
}
@font-face {
	font-family: AVENIRNEXTCYR-LIGHT; /* Имя шрифта */
	src: url(AVENIRNEXTCYR-LIGHT.OTF); /* Путь к файлу со шрифтом */
}
@font-face {
	font-family: AVENIRNEXTCYR-LIGHTITALIC; /* Имя шрифта */
	src: url(AVENIRNEXTCYR-LIGHTITALIC.OTF); /* Путь к файлу со шрифтом */
}
@font-face {
	font-family: AVENIRNEXTCYR-MEDIUM; /* Имя шрифта */
	src: url(AVENIRNEXTCYR-MEDIUM.OTF); /* Путь к файлу со шрифтом */
}
@font-face {
	font-family: AVENIRNEXTCYR-MEDIUMITALIC; /* Имя шрифта */
	src: url(AVENIRNEXTCYR-MEDIUMITALIC.OTF); /* Путь к файлу со шрифтом */
}
@font-face {
	font-family: AVENIRNEXTCYR-THIN; /* Имя шрифта */
	src: url(AVENIRNEXTCYR-THIN.OTF); /* Путь к файлу со шрифтом */
}
@font-face {
	font-family: AVENIRNEXTCYR-THINITALIC; /* Имя шрифта */
	src: url(AVENIRNEXTCYR-THINITALIC.OTF); /* Путь к файлу со шрифтом */
}
@font-face {
	font-family: AVENIRNEXTCYR-ULTRALIGHT; /* Имя шрифта */
	src: url(AVENIRNEXTCYR-ULTRALIGHT.OTF); /* Путь к файлу со шрифтом */
}
@font-face {
	font-family: AVENIRNEXTCYR-ULTRALIGHTIT; /* Имя шрифта */
	src: url(AVENIRNEXTCYR-ULTRALIGHTIT.OTF); /* Путь к файлу со шрифтом */
}