.textiletorg-basket-fixed-prototype-default {
    display: none;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
    right: 0;
}
.textiletorg-basket-fixed-prototype-default .container {
    position: relative;
    background: #F5EB27;
    width: 1200px;
    height: 40px;
    margin: 0 auto;
    color: #000;
}
.textiletorg-basket-fixed-prototype-default .container .left,
.textiletorg-basket-fixed-prototype-default .container .right {
    margin-top: 9px;
    height: 22px;
    width: 50%;
    float: left;
    box-sizing: border-box;
}
.textiletorg-basket-fixed-prototype-default .container .left {
    padding-right: 45px;
    text-align: right;
    border-right: 1px solid #000;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    font-family: "AvenirNextCyrDemi", verdana, tahoma, arial;
}
.textiletorg-basket-fixed-prototype-default .container .left .red {
    color: #ff0000;
    font-family: "AvenirNextCyrBold", verdana, tahoma, arial;
}
.textiletorg-basket-fixed-prototype-default .container .right {
    padding-left: 33px;
    font-size: 15px;
}
.textiletorg-basket-fixed-prototype-default .container a {
    position: absolute;
    top: 2px;
    right: 29px;
    height: 36px;
    width: 38px;
    background: url("images/basket.png") no-repeat center;
}
.textiletorg-basket-fixed-prototype-default .container a:hover {
    background: url("images/basket-hover.png") no-repeat center;
}
/*.ay-main-container {*/
/*    margin-bottom: 20px;*/
/*}*/