.message-cart-sidebar {
    border: 1px solid #ff0000;
    position: absolute;
    border-radius: 6px;
    background: #fff;
    padding: 10px;
    text-align: center !important;
    margin: 5px 0 0 0;
    z-index: 10;
    top: 45px;
}

.message-cart-sidebar  p {
    margin: 0 0 10px;
    text-align: center !important;
}

.item .buttons {
    position: relative;
}

#wrapper .content_block .block-img {
    display: block;
    width: 100%;
    height: 275px;
    text-align: center;
}

#wrapper .content_block p.title {
    min-height: 38px;
    overflow: hidden;
}

#wrapper .content_block .block-img img {
    max-width: 100%;
    max-height: 275px;
}