#as-stores-page .as-stores-page-list {width: 500px;margin: 0 0 8px;}
#as-stores-page .as-stores-page-item {margin: 0 0 8px;}
#as-stores-page .as-stores-page-item-time small{display: block;}
#as-stores-page-hide.hide {display: none;}